<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN de bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Llamar al archivo css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <!-- CDN de p5js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"></script>
    
    <!--Ligas que baje del ejemplo del album-->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    {% if titulo %}
        <title>Flask - {{ titulo }}</title>
    {% else %}
        <title>Flask</title>
    {% endif %}
</head>
<body class="p-3 m-0 border-0 bd-example">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Flask p5_js</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('inicio')}}">Inicio</a>
                        <a class="nav-item nav-link" href="{{url_for('super_elipse')}}">Super Elipse</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('super_figuras')}}">Super Figuras</a>
                        <a class="nav-item nav-link" href="{{ url_for('julia_set')}}">Julia Set</a>
                    </div>
                </div>
            </div>            
        </nav>
    </header>
    
    <div class="container">
      <div class="row ">
        {% block figuras %}{% endblock %}      
      </div>
      <div class="row">
        {% block contenido %}{% endblock %}      
      </div>      
    </div>
    <!--bootstrap5-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   
</body>
</html>
