{% extends "machote.html" %}
{% block contenido %}
    <div class="content-section">
        <form method="POST" action="">
            {{ forma.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Resetear contraseña</legend>
                <div class="form-group">
                    {{ forma.correo.label(class="form-control-label") }}
                    {% if forma.correo.errors %}
                        {{ forma.correo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in forma.correo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ forma.correo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ forma.enviar(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock contenido %}
